- content_for :header do
  :css
    body{
      font-family: Helvetica;
    }
    canvas {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    #debugger{
      top: 0;
      left: 0;
      position: fixed;
      background: black;
      color: #eee;
      padding: 4px;
      display: none;
    }

%p
  %strong Patient:
  = resource.patient
%p
  %strong Recorded:
  = resource.created_at.to_s(:full)
%p
  %strong Exam Type:
  = resource.type
%p
  %strong Notes:
  = resource.notes
:javascript
  Leap.loop({})
    .use('playback', {
      recording: '#{resource.recording.url.gsub(/\?.*/, '')}',
      requiredProtocolVersion: 6,
      pauseOnHand: true,
      loop: true
    })
    .use('riggedHand');

  window.controller = Leap.loopController;
